.icons
{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    padding-left: 0px;;
    padding-bottom: 0px;
}

.material-symbols-outlined {
    
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
  }
.TrashBox
{
  width:250px;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
}
.ColourChoice
{
  width:2vw;
  height: 4vh;
  border:100px;
  border-radius: 50px 50px;
}
.ColourChoice:hover{
  border:2px solid black;
}
.Col
{
  display:flex;
  justify-content: center;
  padding: 2px;
}
.Palette
{
  display:flex;
  flex-wrap: wrap;
  width: 10vw;

}
