<div class="icons">
    <button mat-icon-button  aria-label="Example icon button with a home icon">
        <mat-icon>add_alert</mat-icon>
      </button>
      <button mat-icon-button  aria-label="Example icon button with a home icon">
        <mat-icon>person_add</mat-icon>
      </button>
      <button mat-icon-button  aria-label="Example icon button with a home icon">
        <mat-icon>palette</mat-icon>
      </button>
      <button mat-icon-button  aria-label="Example icon button with a home icon">
        <mat-icon>archive</mat-icon>
      </button>
      <button mat-icon-button  aria-label="Example icon button with a home icon">
        <mat-icon>more</mat-icon>
      </button>
</div>
