
.material-symbols-outlined {
    
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
  }
.icons
{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    padding-left: 0px;;
    padding-bottom: 0px;
}