<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="OuterDiv">
        <div class="InnerDiv" >
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="Company">
                    <Span>F</Span>
                    <Span>u</Span>
                    <Span>n</Span>
                    <Span>d</Span>
                    <Span>o</Span>
                    <Span>_</Span>
                    <Span>N</Span>
                    <Span>o</Span>
                    <Span>t</Span>
                    <Span>e</Span>
                    <Span>s</Span>
                </div>
                <div class="MSG">Recover your password</div>
                <div class="recovery">Enter your phone number or recovery email</div>
                <div class="Inputbox" >
                    <mat-form-field appearance="outline">
                        <mat-label>Recovery email</mat-label>
                        <input matInput placeholder="" formControlName="email">
                        <mat-error>Enter correct email</mat-error>
                    </mat-form-field>
                </div>
                <div class="button">
                    <button mat-flat-button >Next</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
