<div class="container" [style.Background]="colour">
    <div class="sub" >
        <input class="update" autocomplete="off" role="combobox"  placeholder="{{title}}" [(ngModel)]="title" type="text" >
        <input class="updates" autocomplete="off" placeholder="{{description}}" [(ngModel)]="description" type="text">
    </div>
    <div class="bottom">
        <app-icons [childMessage]="data" (messageEvent)="receiveMessage($event)"></app-icons>
        <button mat-flat-button (click)="onClick()">Close</button>
    </div>
</div>
<!-- [style.Background]="colour" -->