.Container
{
    height:20vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0px;
}
.bottom
{

    display:flex;
    width:460px;
    justify-content: space-between;
    padding-bottom: 0px;
    border: 1px solid greenyellow;
}

.sub
{
    display: flex;
    flex-direction: column;
    border:1px solid white;
    margin: 2px solid green;
    width:100%;
    padding-right: 0px;
}
.update
{
    display: flex;
    justify-content: left;
    height:40px;
    font-size: large;
    width: 460px;
    border:1px solid white;
    //padding-right: 0px;
}

.updates
{
    height:35px;
    font-size: normal;
     width:460px;
    border:5px solid white;
    padding-bottom: 20px;
}
