<div class="OuterDiv">
    <div class="InnerDiv" >
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="Company">
                <Span>F</Span>
                <Span>u</Span>
                <Span>n</Span>
                <Span>d</Span>
                <Span>o</Span>
                <Span>_</Span>
                <Span>N</Span>
                <Span>o</Span>
                <Span>t</Span>
                <Span>e</Span>
                <Span>s</Span>
            </div>
            <div class="Login">Reset Password</div>
            <div class="AccountUse">Enter a new password</div>
                <div class="NewPassword">
                    <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput placeholder="" formControlName="Password">
                        <mat-error>Enter Password</mat-error>
                    </mat-form-field>
                    <div class="hint">Use 8 or more characters with a mix of letters, numbers & symbols</div>
                </div>
                <div class="CPassword">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="" formControlName="CPassword">
                        <mat-error>Enter Password</mat-error>
                    </mat-form-field>
                </div>
                <div class="Save">
                    <button mat-flat-button >Save</button>
                </div>
        </form>
    </div>
</div>
